
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #fafafa;
}

.paging {
	width: 300px;
	margin: auto;
	margin-top: 25vh;
	position: relative;
}

#date-top {
	text-align: center;
	font-family: "Helvetica";
	font-size: 25px;
	font-weight: 600;
	color: #333;
	width: 150px;
	margin: auto;
}

.paging input {
	width: 300px;
	height: 38px;
	outline: 0;
	border: none;
	border-bottom: 1.5px solid;
	border-color: #161616;
	font-style: "Lato";
	font-size: 20px;
	font-weight: lighter;
	background-color: #fafafa;
	padding-left: 20px;
	margin-top: 10px;
	opacity: 20%;
	transition: 0.5s 0s;
}

#prefix {
	position: relative;
	top: 30px;
	left: 10px;
	opacity: 30%;
}

.paging input:focus {
	opacity: 100%;
	background-color: #fafafa;
	margin-top: 30px;
	transition: 0.5s 0s;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-family: "Helvetica";
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	border-radius: 5px;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ddd;
}

.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#del {
	text-decoration: none;
	outline: none;
	border: none;
	background-color: transparent;

	height: 20px;
	width: 20px;
	opacity: 0%;
	position: absolute;
	top: 3px;
	left: -35px;
	cursor: pointer;
}

.container:hover  #del, #del:hover {
	opacity: 100%;
}

.icon {
	top: 0;
	height: 10px;
	width: 20px;
	object-fit: contain;
	opacity: 30%;
}

#Tasks {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: auto;
	margin-top: 30px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 200px;
	
}


.line {
	display: flex;
	flex-direction: row;
	position: fixed;
	right: 150px;
	bottom: 36px;
}

.background-color {
	height: 25px;
	width: 25px;
	border:none; 
	box-shadow: 0px 4px 10px -2px #444;
	border-radius: 50px;
	margin-left: 10px;
	cursor: pointer;
}

#red {
	background-color: #ff6961 ;
}

#blue {
	background-color: #aec6cf;
}

#yellow {
	background-color: #EFBE7D;
}

#white {
	background-color: #fafafa
}
